/* mobile-device */

@media screen and (max-width: 576px) {
  .container {
    margin: 0 15px;
  }
  .banner,
  .upcoming-matches {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .upcoming-matches-left {
    width: 100%;
  }
  .banner-left p {
    width: 100%;
    margin: 15px auto;
  }
  .banner .banner-left {
    margin-bottom: 50px;
    padding-left: 0px;
    padding-top: 30px;
  }
  .upcoming-matches-right {
    grid-template-columns: 1fr;
  }
}

/* tablet and laptop */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    margin: 10px 20px;
  }
  .banner-left h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcoming-matches-left .btn {
    border: 1px solid #e8e8e8;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
}
